input:valid{
  border:2px solid green;
}
input:invalid{
  border: 2px solid red;
}
input{
  color: #000000 ;
  outline: none;
  border: 2px solid black;
  transition: all 0.5s;
}
p{
color: White;
}
h3{
  color: white;
}

#Log-In{
  border: 5px;
  border-color: #000000;
  border-style: solid;
  width: 420px;
  height: 254.4px;
  opacity: 0.3;
  background-color: White;
  border-radius: 10px;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 300px;
  right:800px;
}
body{
  background-image: url(../440482.jpg);
}
.SP1{
  position: absolute;
  top: 300px;
  right:967px;
}
.SP2{
  position: absolute;
  top: 485px;
  right:905px;
}
